body{
  padding-top:0px
}

#app{
  width: 100%;
  height: 100%;
  position: absolute;
  padding-right: 0px;
  padding-left: 0px;
  background:#FEFEFE;
}

.nav{
  background-color: #03A9F4;
}
.links{
  color:white;
  font-weight: normal;
  font-size: 20px;
}

.mainBar{
  width:80%;
  margin-left:15%;
}
.secondBar{
  width: 60%;

}
.title{
  font-weight: bold;
  font-size: 35px;
  display: block;
  position: relative;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  line-height: 1;
  letter-spacing: .02em;
  box-sizing: border-box;
}
.mdl-layout__tab-bar{
  overflow-x: hidden !important;
  height: auto !important;
  margin-left: 10px !important;
}
.generateButton{
  width: 180px;
}
.mdl-layout__header-row{
  padding-top:20px !important;
}
.bottomLinks{
  font-weight: bold !important;
  color:#F6F6F6 !important
}
.bottomLinks:hover{
  background: rgb(97, 113, 204);
  text-decoration: none;
}
.bottomLinks:link {
    text-decoration: none;
}

.bottomLinks:visited {
    text-decoration: none;
}
.bottomLinks:active {
    text-decoration: none;
    background: rgb(97, 113, 204);
}
.is_active{
  background: rgb(97, 113, 204);2
}

.addUser{
  width:40%;
  margin-left:30%;
}
.form{
  width:60%;
  margin-left:20%;
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
